.container{
    padding: 10px;
    display: flex;
    justify-content:center;
  }
  
  .button{
    background-color: transparent;
    margin: 40px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: var(--bg);
  }
  
  .button:disabled{
    cursor: not-allowed;
    color: grey;
  }