.container {
    width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid black; */
  }

  .container label{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-right: 450px;
  }
  
  .topContainer {
    width: 80%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: white;

  }
  
  .inputTag{
    display: none;
  }
  
  .upload{
    padding: 30px;
    background-color: #a2f3ad;
    width: 100%;
    align-items: center;
    font-size: 16px;
    text-align: center;
  }
  
  .upload label{
    cursor: pointer;
  }
  
  .upload p{
    font-size: 12px;
    margin-top: 5px;;
    color: #383333;
  }
  
  
  
  .bottomContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
    width: 80%;
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

  }

  .bottomContainerBtn{
    display :flex;
    column-gap: 20px;
  }
  
  .bottomContainer input {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  
  .btnSave,
  .btnDelete {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btnSave {
    background-color: #4caf50;
    color: white;
  }
  
  .btnDelete {
    background-color: #f44336;
    color: white;
  }
  
  .add,
  .remove {
    background-color: transparent;
    padding: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .add {
    color: green;
  }
  
  .remove {
    color: red;
  }
  