.container {
    max-width: 800px;
    
  margin-left: 100px;
    align-items: center;
    justify-content: center;
  }
  
  .inputContainer {
    margin: 50px;
    padding: 30px;
    margin-bottom: 20px;
    font-size: medium;
  }
  
  .inputContainer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .inputContainer textarea {
   
    width: 800px;
    padding: 8px;
    border-radius: 20px;
    border: 5px solid var(--dark);
    box-sizing: border-box;
    height: 300px; /* Adjust height as needed */
    font-size: 20px;
  }
    
  .dropdown{
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    font-weight: bold;
  }

  .dropdown label{
    font-weight: bold;
  }

  .dropdown select{
    background-color: var(--bg);
    margin: 10px 30px 10px 30px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: white;
  }

  .buttonNext{
    background-color: var(--bg);
    color: white;
    justify-content: center;
    align-items: center;
    margin: 50px 30px 100px 300px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
  }

  .buttonReset{
    background-color: orange;
    color: black;
    justify-content: center;
    align-items: center;
    
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .container {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  