.container {
    height: 85vh;
    margin-bottom: 20px;
}

.top {
    margin: 20px;
}

.h3{
    display: block;
    text-align: center;
}

.active, .closed, .received, .archived {
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}


.expand {   
    border: none;
    background-color: var(--bg);
    color: var(--text);
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: 0px;
    font-size:1rem;
    margin-top: 3%;
    cursor: pointer;
    max-height: 50px;
}

.expand:hover {
    text-decoration: underline;
}