

.mainContainer {
  display:flex;
  flex-direction:column;
    background-color: #198bee;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(247, 244, 247, 0.862);
    margin-top: 20px;
    margin-right: 20px;
    color: black;
  }
  
  .userTable {
    width: 100%;
    
    margin-top: 16px;
   
    background-color: rgb(18, 238, 223);
    color: black;

  }
  
  .heading {
    padding: 5px;
    text-align: left;
    background-color: var(--bgSoft);
    color: white;
    color: black;

  }
  .expand {   
    border: none;
    background-color: var(--bg);
    color: var(--text);
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: 0px;
    font-size:1rem;
    margin-top: 3%;
    cursor: pointer;
    max-height: 50px;
    margin-bottom: 30px;
}
  
  .body{
    padding: 0px;
    color: black;

  }

  .buttons{
    display: flex;
    gap: 10px;
  }
  
  .button{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
  }
  
  .view{
    background-color: teal;
  }
   


