.container{
    position: sticky;
    height: 350px;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    position: sticky;
}

.title{
    font-weight: 300;
    margin-bottom: 20px;
}