.container{
    position: sticky;
    height: 350px;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.title{
    font-weight: 300;
    margin-bottom: 20px;
    justify-content: center;
}