.container{
    display: flex;
    flex-direction: column;
    
    margin-left: 100px;
    /* border: 2px solid var(--dark); */
  height: 96vh;
  width: 80vw ;
  justify-content: center;
  align-items: center;
}

.topContainer label{
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 700px;
    
    font-size: medium;
    font-weight: bold;
    margin-bottom:  20px;
    /* border: 2px solid var(--dark); */
}

.file {
    border: 2px solid black;
    padding: 60px;
    
    padding-left: 35%;
    margin: 30px 50px 30px 50px;
    
    
}



.text{
    margin-left: -150px;
    font-size: medium;
    margin-bottom: 20px;
    /* border: 2px solid var(--dark); */
}

.text li{
    margin-left: 60px;
    margin-top: 10px;
    /* border: 2px solid var(--dark); */
}

.btnNext{
    color: white;
    background-color: var(--dark);
    padding: 5px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px 50px 30px 50px;
   
}

.btnReset{
    color: rgb(6, 6, 6);
    background-color: orange;
    cursor: pointer;
    padding: 5px;
    width: 80px;
    border-radius: 10px;
    margin: 30px 50px 30px 50px;
    
}