.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 280px;
  height: 96vh;
  justify-content: center;
  align-items: center;
}

.topContainer{
    width: 100%;
}

.topContainer label {
  margin-left: -140px;
  margin-top: 10px;
  font-size: medium;
  font-weight: bold;
}

.inputTag{
  display: none;
}

.upload{
  margin-top: 28px;
  margin-left: -140px;
  padding: 60px;
  width: 100%;
  height: 200px;
  align-items: center;
  font-size: 16px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.upload label{
  cursor: pointer;
}

.upload p{
  font-size: 12px;
  margin-top: 5px;;
  color: #383333;
}


.text {
  margin-top: 68px;
  margin-left: -240px;
  font-size: medium;
  margin-bottom: 20px;
  /* border: 2px solid var(--dark); */
  font-weight: bold;
}

.text li {
  margin-left: 60px;
  margin-top: 10px;
  /* border: 2px solid var(--dark); */
}

.btnNext {
  color: white;
  background-color: var(--dark);
  padding: 5px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  margin: 60px 10px 0px -240px;
}

.btnReset {
  color: rgb(6, 6, 6);
  background-color: orange;
  cursor: pointer;
  padding: 5px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-right: 8px;
  
}
