.container {
    width: 85%;
}
.table{
    width: 85%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 10px;
    
}

.table thead{
    font-weight: 600;
}


.table td{
    width: 100px;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

.link {
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 149, 255);
}