:root{
  --bg: #8841cf;
  --bgSoft: #a467e0;
  --light: #f1e3ff;
  --dark: #7e28d4;
  --text: white;
  --textSoft: rgb(231, 231, 231);
  /* --dark: #343f52;
  --primary: #605dba;
  --body: #60697b;
  --border: #ebedf3;
  --primary-soft: #f0f0f8;
  --secondary: #aab0bc;
  --white: white;
  --blue: #3f78e0;
  --dark-orchid: #8841cf;
  --primary-pale: #e6e5f4;
  --light: #fcfcfd;
  --yellow: #fcc032; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color:inherit;
  text-decoration: none;
}