.container{
    padding: 10px;
    padding-right: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5px;
    border-radius: 10px;
    
}

.container:hover, .active{
    background-color: var(--bgSoft);
    
}