.container{
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 30px;
    
}

.container:hover, .active{
    background-color: var(--bgSoft);
    
}