.container{
    /* max-width: 800px; */
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    
    /* border: 2px solid var(--dark); */
}

.inputContainer label{
    /* margin-left: -150px; */
    margin-top: 26px;
    font-size: medium;
    font-weight: bold;
    margin-bottom:  20px;
}

.inputContainer{
    margin-top: 26px;
    margin-left: -24px;
    /* display: flex;
    flex-direction: column; */
}

.inputContainer textarea{
    margin-left: 50px;
    height: 250px;
    width: 800px;
    border: 5px solid var(--dark);
    margin-top: 26px;
    margin-bottom: 26px;
    border-radius: 10px;
}

.text{
    margin-left: -26px;
    font-size: medium;
    margin-bottom: 20px;
}

.text li{
    margin-left: 50px;
    margin-top: 10px;
}

.btnNext{
    color: white;
    background-color: var(--dark);
    padding: 5px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 100px;
}

.btnReset{
    color: rgb(6, 6, 6);
    background-color: orange;
    cursor: pointer;
    padding: 5px;
    width: 80px;
    border-radius: 10px;
    margin-right: 100px;
}