.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px; /* Add some padding to prevent elements from sticking to the edge */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Set height to 100% to cover the entire viewport */
}

.inputContainer label {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 100px;
}

.inputContainer {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the input container */
}

.inputContainer textarea {
    height: 250px;
    width: 800px;
    font-size: 20px;
   
    border: 5px solid var(--dark);
    margin-top: 26px;
    margin-bottom: 26px;
    border-radius: 10px;
    box-sizing: border-box; /* Include padding and border in the width */
}

.text {
    font-size: medium;
    margin-bottom: 20px;
    font-weight: bold;
   
    width: fit-content;
}

.text li {
    margin-left: 50px;
    margin-top: 10px;
    width: 900px;
}

.btnNext, .btnReset {
    color: white;
    padding: 10px 20px; /* Increase padding for better clickability */
    border-radius: 10px;
    
    cursor: pointer;
    margin-top: 20px; /* Add margin to separate buttons */
    justify-content: space-between;
    margin-right: 100px;
     
}

.btnNext {
    background-color: var(--dark);
    
}

.btnReset {
    background-color: orange;
}
