.trainingMaterialContainer {
    display: flex;
    flex-direction: column;
     height: 90vh;
    margin: 30px;
    align-items: center;
    justify-content:center;
}

.topContainer {
    margin-bottom: 2px;
    padding: 2px;
    margin-top: 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 93%;
}

.topContainer input {
    font-size: 16px;
    width: 100%;
    
    padding: 10px;
}

.inputTag{
    display: none;
}

.upload{
    padding: 30px;
    background-color: #a2f3ad;
    width: 100%;
    align-items: center;
    font-size: 16px;
    text-align: center;
}

.upload label{
    cursor: pointer;
}

.upload p{
    font-size: 12px;
    margin-top: 5px;;
    color: #383333;
}

.textBox input, .textBox textarea{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 0.5px solid #dbdbdb;
    margin-bottom: 7px;
}

.textBox textarea{
    width: 100%;
    padding: 60px;
}

.tabContainer {
    background-color: #dbdbdb;
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 10px;
    margin-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
}

.tab {
    cursor: pointer;
    padding: 10px 100px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 0px;
}


.activeTab {
    color: green;
    border: 5px solid green;
    border-radius: 10px;

}

.tableContainer {
    margin-top: 10px;
    padding: 20px;
    width: 93%;
    height:fit-content;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.tableContainer button{
 background-color: green;
 color: #f2f2f2;
 border-radius: 10px;
 width: 80px;
 height: 40px;
 
}


.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    /* border: 1px solid #ddd; */
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.filterOptions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

/* Add responsive styles here */
@media (max-width: 768px) {
    .tableContainer {
        width: 90%;
    }
}
